<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excercise 2</title>
</head>
<body>
<!--Hello Rebel! (for video 09) -->
<h1>Welcome! To the Text Analyzer. Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" spellcheck="false" style='margin: 0px; width: 1341px; height: 230px;'></textarea><br>
    <input name="removepunc" type="checkbox"> Remove Punctuations<br>
    <input name="fullcaps" type="checkbox"> Upper Case<br>
    <input name="newlineremover" type="checkbox"> New Line Remover<br>
    <input name="extraspaceremover" type="checkbox"> Extra Space Remover<br>
    <button type="submit">Analyze text</button>

</form>
</body>
</html>