<!--this is a backup file of index.html for vif=deo 15 (adding bootstrap)-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<!--Hello Rebel! (for video 09 -->
<h1>Welcome! To the Text Analyzer. Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" spellcheck="false" style='margin: 0px; width: 1341px; height: 230px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> Upper Case<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <input type="checkbox" name="charcount"> Character Counter<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>